<div class="units mt-2">
    <div class="heading">
        <h1 id="h1">Banks</h1>
        <hr id="hr-1">
        <hr id="hr-2">
    </div>
    <div class="filtered-units">
        <div class="flex-grid">
            <div class="col-xl-4 col-lg-6 col-md-6 mb-2 pointer" routerLink="/units/banks/1">
                <div class="unit p-1 rounded-2">
                    <div class="flex">
                        <div class="flex-33 img mr-1">
                            <img src="../../assets/cib.jpg" alt="cib" height="100">
                        </div>
                        <div class="flex-auto relative">
                            <h3 class="fs-20">CIB Bank</h3>
                            <p class="fs-13 light flex aic">
                                <span class="material-icons fs-14">location_on</span>
                                <span>sarayat al maadi</span>
                            </p>
                            <p class="fs-13 light flex aic">
                                <span class="material-icons fs-14">people</span>
                                <span>7 contacts</span>
                            </p>
                            <div class="icons flex">
                                <mat-icon>mail_outlined</mat-icon>
                                <mat-icon>call_outlined</mat-icon>
                                <mat-icon>map_outlined</mat-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 mb-2 pointer" routerLink="/units/banks/2">
                <div class="unit p-1 rounded-2">
                    <div class="flex">
                        <div class="flex-33 img mr-1">
                            <img src="../../assets/cib.jpg" alt="cib" height="100">
                        </div>
                        <div class="flex-auto relative">
                            <h3 class="fs-20">CIB Bank</h3>
                            <p class="fs-13 light flex aic">
                                <span class="material-icons fs-14">location_on</span>
                                <span>sarayat al maadi</span>
                                </p>
                            <p class="fs-13 light flex aic">
                                <span class="material-icons fs-14">people</span>
                                <span>7 contacts</span>
                            </p>
                            <div class="icons flex">
                                <mat-icon>mail_outlined</mat-icon>
                                <mat-icon>call_outlined</mat-icon>
                                <mat-icon>map_outlined</mat-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 mb-2 pointer" routerLink="/units/banks/3">
                <div class="unit p-1 rounded-2">
                    <div class="flex">
                        <div class="flex-33 img mr-1">
                            <img src="../../assets/cib.jpg" alt="cib" height="100">
                        </div>
                        <div class="flex-auto relative">
                            <h3 class="fs-20">CIB Bank</h3>
                            <p class="fs-13 light flex aic">
                                <span class="material-icons fs-14">location_on</span>
                                <span>sarayat al maadi</span>
                                </p>
                            <p class="fs-13 light flex aic">
                                <span class="material-icons fs-14">people</span>
                                <span>7 contacts</span>
                            </p>
                            <div class="icons flex">
                                <mat-icon>mail_outlined</mat-icon>
                                <mat-icon>call_outlined</mat-icon>
                                <mat-icon>map_outlined</mat-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 mb-2 pointer" routerLink="/units/banks/4">
                <div class="unit p-1 rounded-2">
                    <div class="flex">
                        <div class="flex-33 img mr-1">
                            <img src="../../assets/cib.jpg" alt="cib" height="100">
                        </div>
                        <div class="flex-auto relative">
                            <h3 class="fs-20">CIB Bank</h3>
                            <p class="fs-13 light flex aic">
                                <span class="material-icons fs-14">location_on</span>
                                <span>sarayat al maadi</span>
                                </p>
                            <p class="fs-13 light flex aic">
                                <span class="material-icons fs-14">people</span>
                                <span>7 contacts</span>
                            </p>
                            <div class="icons flex">
                                <mat-icon>mail_outlined</mat-icon>
                                <mat-icon>call_outlined</mat-icon>
                                <mat-icon>map_outlined</mat-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>