<div class="unit mt-5 mx-auto rounded-3 p-2">
    <div class="flex h-100" >
        <div class="flex-20 pr-2">
            <div class="img">
                <img src="../../assets/cib.jpg" alt="cib" width="100%" class="rounded-2">
            </div>
            <div class="info">
                <p class="my-1">CIB Bank</p>
                <p class="fs-10 light flex aic location">
                    <span class="material-icons fs-14">location_on</span>
                    <span>sarayat al maadi</span>
                </p>
                <p class="fs-10 light flex aic">
                    <span class="material-icons fs-14">people</span>
                    <span>7 contacts</span>
                </p>

                <div class="social-icons flex jcsr mt-1">
                    <a href="#" target="_blank">
                        <i class="fab fa-facebook-f facebook flex-center"></i>
                    </a>
                    <a href="#" target="_blank">
                        <i class="fab fa-linkedin-in linkedin flex-center"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="flex-auto m-section">
            <div class="info mb-1">
                    <p class="mb-1">Basic Info</p>
                <div class="name background">
                    <p class="fs-13">Company name</p>
                </div>
                <div class="type fs-13">
                    <p>Bussiness type</p>
                </div>
                <div class="website background fs-13">
                    Offical website
                </div>
                <div class="phone fs-13">
                    <p>Offical phone number</p>
                </div>
            </div>
            <div class="contacts">
                <h2 class="mb-1">Contacts</h2>
                <div class="flex aic">
                    <div class="contact">
                        <img src="../../assets/person.png" alt="No image">
                        <p class="fs-12">Ehab Ezzat</p>
                        <p class="fs-12">HR</p>
                    </div>
                    <div class="contact">
                        <img src="../../assets/person.png" alt="No image">
                        <p class="fs-12">Ehab Ezzat</p>
                        <p class="fs-12">HR</p>
                    </div>
                    <div class="contact">
                        <img src="../../assets/person.png" alt="No image">
                        <p class="fs-12">Ehab Ezzat</p>
                        <p class="fs-12">HR</p>
                    </div>
                    <div class="contact">
                        <img src="../../assets/person.png" alt="No image">
                        <p class="fs-12">Ehab Ezzat</p>
                        <p class="fs-12">HR</p>
                    </div>
                    <div class="contact">
                        <img src="../../assets/person.png" alt="No image">
                        <p class="fs-12">Ehab Ezzat</p>
                        <p class="fs-12">HR</p>
                    </div>
                    <div class="contact">
                        <img src="../../assets/person.png" alt="No image">
                        <p class="fs-12">Ehab Ezzat</p>
                        <p class="fs-12">HR</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex-20 pl-2">
            <div class="img">
                <img src="../../assets/person.png" alt="person" width="100%" class="rounded-2">
            </div>
            <div class="show-contact">
                <p class="type text-center light">HR</p>
                <p class="mt-1">Mostafa Hussin</p>
                <p class="fs-10 light flex aic location mt-1">
                    <span class="material-icons fs-14">phone</span>
                    <span>01124879513</span>
                </p>
                <p class="fs-10 light flex aic">
                    <span class="material-icons fs-14">email</span>
                    <span>hr@gmail.com</span>
                </p>

                <div class="social-icons flex jcsr mt-1">
                    <a href="#" target="_blank">
                        <i class="fab fa-facebook-f facebook flex-center"></i>
                    </a>
                    <a href="#" target="_blank">
                        <i class="fab fa-linkedin-in linkedin flex-center"></i>
                    </a>
                </div>
            </div>
        </div>
</div>