<div class="home relative">
    <div class="a-center w-100">
        <div class="flex aic">
            <div class="flex-50">
                <h1>The largest employers database in the middle east.</h1>
                <input type="text" placeholder="Search for your next employer..." class="search p-2 dark w-100 mt-2">
            </div>
            <div class="flex-50 text-right">
                <img src="../../assets/people_search.svg" alt="Search" width="90%">
            </div>
        </div>
    </div>
</div>